Library/
Logs/
Packages/
Temp/
Library/ArtifactDB
*.log
Library/Bee/
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/94/9412ed9c8b649e3c8d1fa78165193177.json
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Library/expandedItems
Library/CurrentLayout-default.dwlt
